html {


}
@keyframes moving{
  0% {
    transform: translate(-100px, 0);
  }

  100%{
    transform: translate(200vw, 0);
  }
}

@keyframes legone {
  0%{
    transform: rotate(-8deg);
  }

  50%{
    transform: rotate(8deg);
  }

  100%{
    transform: rotate(-8deg);
  }
}
@keyframes legtwo {
  0%{
    transform: rotate(10deg);
  }

  50%{
    transform: rotate(-10deg);
  }

  100%{
    transform: rotate(10deg);
  }
}
.image1, .image2{
  animation-name: slideshow
}

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  55.55% { opacity: 0}
  66.66% { opacity: 0}
  100% { opacity: 0; }
}

.fadein img {
    opacity:0;
    animation-name: fade;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position:absolute;
    left:0;
    right:0;
}
.fadein { position:absolute; height:332px; width:500px; opacity: 1; z-index: -100;}
.fadein img { position:absolute; top:-228px; bottom: 0; left:78%; right:0; margin: auto; opacity:0; animation-name: fade; animation-duration: 9s; animation-iteration-count: infinite; width: 100%; }
.milk img {height: 332px; width: 500px;}
.fadein img:nth-child(1) { animation-delay: 0s;  }
.fadein img:nth-child(2) { animation-delay: 3s;  }
.fadein img:nth-child(3) { animation-delay: 6s;  }
/*@keyframes timeOfDay{
  0%{
    background-color: #00102b;
  }
  10%{
    background-color: #031f4c;
  }
  20%{
    background-color: #002463;
  }
  30%{
    background-color: #214d99;
  }
  40%{
    background-color: #3c62a3;
  }
  50%{
    background-color: #bc6058;
  }
  80%{
    background-color: #7b4293;
  }
  90%{
  background-color: #441a56;
  }
  100%{
  background-color: #1e1342;
}
}

html {
  background-color: lightblue;
  animation-name: timeOfDay;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
*/

#ground {
  width: 200%;
    height: 100%;
    background-color: green;
    display: inline-block;
    position: absolute;
    z-index: 100;
}

#wrapper{
  position: relative;
  height: 200px;
  width: 196px;
  animation-name: moving;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 20%;
  z-index: 100;
}

#head{
  width: 112px;
height: 123px;
border-radius: 50px;
margin-left: 182px;
top: 126px;
position: absolute;
z-index: 200;
transform: rotate;
transform: rotate(-10deg);
}
#tail{
  width: 40%;
    position: absolute;
    margin-top: 102%;
    /* margin-right: 87%; */
    left: 2px;
}

#body {
  width: 223px;
    position: absolute;
    bottom: -114px;
    z-index: 100;
}

.legs{
  position: relative;
    width: 42px;
    height: 100px;
    display: inline-block;
    bottom: -51px;
}
.leg2{
  position: relative;
    width: 29px;
    height: 150px;
    display: inline-block;
    bottom: -71px;
    x: ;
    left: 126px;
}
#legone{
  animation-name: legone;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-left: -15px;
    width: 28%;
    margin-top: 150%;
}

#legtwo{
  animation-name: legtwo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    float: right;
    width: 20%;
    margin-top: 156%;
}
h1{
  font-size: 10vw;
    color: black;
    font-family: helvetica;
    position: relative;
    z-index: 200;
    margin: 0;
    top: 1;
    text-align: center;
    /* text-align-last: center; */
    margin-top: -34%;
.foot{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 50px;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
