body{
  perspective: 1500px;
  height: 100vh;
}
section{
position: absolute;
top: 50%;
left: 50%;
transform-style: preserve-3d;
backface-visibility: hidden;
}
section:hover{
  -webkit-animation: spincube 12s infinite; /* Safari 4.0 - 8.0 */
   animation: spincube 12s infinite;
}

section2{
position: absolute;
top: 50%;
left: 50%;
transform-style: preserve-3d;
backface-visibility: hidden;
}

section2:hover{
  -webkit-animation: spincube 12s infinite; /* Safari 4.0 - 8.0 */
   animation: spincube 12s infinite;
}

@-webkit-keyframes spincube {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16%      { -webkit-transform: rotateY(-90deg);                           }
  33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
  50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
  66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
  83%      { -webkit-transform: rotateX(90deg);                            }
}
@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 60px 60px 0;
  -moz-transform-origin: 60px 60px 0;
  -ms-transform-origin: 60px 60px 0;
  transform-origin: 60px 60px 0;
}

div.face{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}
div.face-cover{
width: 400px;
height: 320px;
background-image: url(book-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.face-side{
height: 320px;
width: 40px;
background-image: url(book-side.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 170px;
}

div.face-spine{
height: 320px;
width: 40px;
background-image:url(book-spine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -70px;
}
div.face-top{
height: 40px;
width: 400px;
background-image: url(book-top.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
top: 40px;
}
div.face-bottom{
height: 40px;
width: 400px;
background-image: url(book-bottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -40px;
}
div.face-back{
height: 320px;
width: 400px;
background-image: url(book-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}


div.face2{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.face2 face2-cover{
width: 400px;
height: 320px;
background-image: url(bluebook-cover.svg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.face2 face2-side{
height: 320px;
width: 40px;
background-image: url(book-side.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 170px;
}
div.face2 face2-spine{
height: 320px;
width: 40px;
background-image:url(book-spine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -70px;
}
div.face2 face2-top{
height: 40px;
width: 400px;
background-image: url(book-top.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
top: 40px;
}
div.face2 face2-bottom{
height: 40px;
width: 400px;
background-image: url(book-bottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -40px;
}
div.face2 face2-back{
height: 320px;
width: 400px;
background-image: url(book-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

.text{
width: 18%;
  /* display: block; */
  /* bottom: 45%; */
  position: relative;
  /* margin-top: 1%; */
  z-index: -100;
  top: 60%;
  left: 2%;
}
