body{
  perspective: 1500px;
  height: 100vh;
  background-color: black;
}

#right {
  position: fixed;
  top: 50%;
  right: 10px;
   width: 15%;
   height: 15%;
   cursor: pointer;

}

#left {
  position: fixed;
  top: 50%;
  left: 10px;
   width: 15%;
   height: 15%;
  cursor: pointer;

}

#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#section {
position: absolute;
top: 50%;
left: 50%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section:hover {
opacity: 0;
-webkit-animation: 0;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  cursor: pointer;
}

#section:hover + #sectionName{
  display: block;
  position: absolute;
  cursor: pointer;
}

#section:hover .mediaquery{
  display: block;
  position: absolute;
  cursor: pointer;
}

#section2 {
position: absolute;
top: 50%;;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section3 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}


#section4 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section5 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;

}
#section6 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section7 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section8 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}


#section9 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}


#section10 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#sectionstudio {
position: absolute;
top: 50%;
left: 150%;
cursor: pointer;
}


#sectionlab {
  position: fixed;
  top: 14%;
  left: 40%;
  z-index: -100;
  cursor: pointer;
}


#section11 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section12 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section13 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}

#section14 {
position: absolute;
top: 50%;
left: 150%;
transform-style: preserve-3d;
backface-visibility: hidden;
-webkit-animation: spincube 12s infinite;
 animation: spincube 12s infinite;
 cursor: pointer;
}



@-webkit-keyframes spincube {
  from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16%      { -webkit-transform: rotateY(-90deg);                           }
  33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
  50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
  66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
  83%      { -webkit-transform: rotateX(90deg);                            }
}
@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;

  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 60px 60px 0;
  -moz-transform-origin: 60px 60px 0;
  -ms-transform-origin: 60px 60px 0;
  transform-origin: 60px 60px 0;
}

#sectionName{
  opacity: 1;
    color: white;
    font-size: 5vw;
    display: none;
    position: absolute;
    -webkit-animation: 0;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    font-family: helvetica, sans-serif;
    top: 41%;
    left: 36%;
}


div.face{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.face-cover{
width: 400px;
height: 320px;
background-image: url(book-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.face-side{
height: 320px;
width: 40px;
background-image: url(book-side.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 170px;
}

div.face-spine{
height: 320px;
width: 40px;
background-image:url(book-spine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -70px;
}
div.face-top{
height: 40px;
width: 400px;
background-image: url(book-top.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
top: 40px;
}
div.face-bottom{
height: 40px;
width: 400px;
background-image: url(book-bottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -40px;
}
div.face-back{
height: 320px;
width: 400px;
background-image: url(book-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}


div.blue{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.blue-cover2{
  height: 320px;
  width: 400px;
top: -80%;
background-image: url(blue-frontcover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.blue-side2{
height: 320px;
width: 40px;
background-image: url(bluespine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 170px;
}

div.blue-spine2{
height: 320px;
width: 40px;
background-image:url(bluespine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -70px;
}
div.blue-top2{
height: 40px;
width: 400px;
background-image: url(blue-bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
top: 40px;
}
div.blue-bottom2{
height: 40px;
width: 400px;
background-image: url(blue-bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -40px;
}
div.blue-back2{
height: 320px;
width: 400px;
background-image: url(blue-frontcover.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}



div.tracy{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.tracy-cover2{
  height: 320px;
  width: 400px;
top: -80%;
background-image: url(tracymacover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.tracy-side2{
height: 320px;
width: 40px;
background-image: url(tracy-spine2.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 170px;
}

div.tracy-spine2{
height: 320px;
width: 40px;
background-image:url(tracyspine.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -70px;
}
div.tracy-top2{
height: 40px;
width: 400px;
background-image: url(tracy-top.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
top: 40px;
}
div.tracy-bottom2{
height: 40px;
width: 400px;
background-image: url(blue-bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -40px;
}
div.tracy-back2{
height: 320px;
width: 400px;
background-image: url(tracymacover.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.position{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.position-cover{
  height: 280px;
  width: 600px;
top: -80%;
background-image: url(position-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.position-side{
height: 278px;
width: 40px;
background-image: url(position-side.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
left: 270px;
}

div.position-spine{
  height: 278px;
      width: 40px;
      background-image: url(position-spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
left: -170px;
}
div.position-top{
      width: 601px;
      background-image: url(position-bottom.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 61px;
      height: 40px;
}
div.position-bottom{
width: 601px;
height: 40px;
background-image: url(position-bottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
  top: -61px;
}
div.position-back{
  height: 280px;
  width: 600px;
background-image: url(position-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}


div.bluets{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.bluets-cover{
  height: 300px;
  width: 600px;
background-image: url(bluets-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.bluets-side{
  height: 300px;
      width: 40px;
      background-image: url(bluetsside.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 269px;
}

div.bluets-spine{
  height: 300px;
      width: 40px;
      background-image: url(bluetsspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.bluets-top{
  height: 40px;
      width: 599px;
      background-image: url(bluetsbottom.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 54px;
}
div.bluets-bottom{
  height: 40px;
      width: 599px;
background-image: url(bluetsbottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -54px;
}
div.bluets-back{
  height: 300px;
width: 600px;
background-image: url(bluets-cover.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.animation{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.animation-cover{
  height: 300px;
  width: 600px;
background-image: url(animation-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.animation-side{
  height: 300px;
      width: 40px;
      background-image: url(animationspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 269px;
}

div.animation-spine{
  height: 300px;
      width: 40px;
      background-image: url(animationspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.animation-top{
  height: 40px;
      width: 599px;
      background-image: url(animationbottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 54px;
}
div.animation-bottom{
  height: 40px;
      width: 599px;
background-image: url(animationbottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -54px;
}
div.animation-back{
  height: 300px;
width: 600px;
background-image: url(animationback.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}


div.weaving{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.weaving-cover{
  height: 300px;
  width: 600px;
background-image: url(weaving-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.weaving-side{
  height: 300px;
      width: 40px;
      background-image: url(weavingside.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 269px;
}

div.weaving-spine{
  height: 300px;
      width: 40px;
      background-image: url(weavingspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.weaving-top{
  height: 40px;
      width: 599px;
      background-image: url(weavingtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 54px;
}
div.weaving-bottom{
  height: 40px;
      width: 599px;
background-image: url(weavingbottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -54px;
}
div.weaving-back{
  height: 300px;
width: 600px;
background-image: url(weaving-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.java2{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.java2-cover{
  height: 300px;
  width: 600px;
background-image: url(java2-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.java2-side{
  height: 300px;
      width: 40px;
      background-image: url(java2side.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 269px;
}

div.java2-spine{
  height: 300px;
      width: 40px;
      background-image: url(java2spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.java2-top{
  height: 40px;
      width: 599px;
      background-image: url(java2bottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 54px;
}
div.java2-bottom{
  height: 40px;
      width: 599px;
background-image: url(java2bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -54px;
}
div.java2-back{
  height: 300px;
width: 600px;
background-image: url(java2back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}



div.jquery{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.jquery-cover{
  height: 300px;
  width: 600px;
background-image: url(jquery-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.jquery-side{
  height: 300px;
      width: 41px;
      background-image: url(jqueryspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.jquery-spine{
  height: 300px;
      width: 41px;
      background-image: url(jqueryspine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.jquery-top{
  height: 41px;
    width: 600px;
      background-image: url(jquerybottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.jquery-bottom{
  height: 41px;
      width: 600px;
background-image: url(jquerybottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.jquery-back{
  height: 300px;
width: 600px;
background-image: url(jqueryback.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.jquery2{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}


div.studio {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

div.studio-cover{
  font-size: 15vw;
  color: white;
  font-family: helvetica, sans-serif;
left: -260px;
top: -50px;
}


div.lab {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

div.lab-cover{
  font-size: 10vw;
  font-family: helvetica, sans-serif;
  font-weight: bolder;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  left: -484px;
  top: -138px;
}

div.lab-back{
  font-size: 10vw;
font-family: helvetica, sans-serif;
font-weight: bolder;
position: absolute;
color: white;
left: -470px;
top: -26px;
}


div.jquery2-cover{
  height: 300px;
  width: 600px;
background-image: url(jquery2-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.jquery2-side{
  height: 300px;
      width: 41px;
      background-image: url(jquery2spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.jquery2-spine{
  height: 300px;
      width: 41px;
      background-image: url(jquery2spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.jquery2-top{
  height: 41px;
    width: 600px;
      background-image: url(jquery2bottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.jquery2-bottom{
  height: 41px;
      width: 600px;
background-image: url(jquery2bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.jquery2-back{
  height: 300px;
width: 600px;
background-image: url(jquery2back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.dialogue{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.dialogue-cover{
  height: 300px;
  width: 600px;
background-image: url(dialogue-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.dialogue-side{
  height: 300px;
      width: 41px;
      background-image: url(dialoguespine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.dialogue-spine{
  height: 300px;
      width: 41px;
      background-image: url(dialoguespine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.dialogue-top{
  height: 41px;
    width: 600px;
      background-image: url(dialoguebottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.dialogue-bottom{
  height: 41px;
      width: 600px;
background-image: url(dialoguebottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.dialogue-back{
  height: 300px;
width: 600px;
background-image: url(dialogueback.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}

div.dialogue2{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.dialogue2-cover{
  height: 300px;
  width: 600px;
background-image: url(dialogue2-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.dialogue2-side{
  height: 300px;
      width: 41px;
      background-image: url(dialogue2spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.dialogue2-spine{
  height: 300px;
      width: 41px;
      background-image: url(dialogue2spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.dialogue2-top{
  height: 41px;
    width: 600px;
      background-image: url(dialogue2bottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.dialogue2-bottom{
  height: 41px;
      width: 600px;
background-image: url(dialogue2bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.dialogue2-back{
  height: 300px;
width: 600px;
background-image: url(dialogue2back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}




div.collections{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.collections-cover{
  height: 300px;
  width: 600px;
background-image: url(collections-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.collections-side{
  height: 300px;
      width: 41px;
      background-image: url(collections-spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.collections-spine{
  height: 300px;
      width: 41px;
      background-image: url(collections-spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.collections-top{
  height: 41px;
    width: 600px;
      background-image: url(collections-bottomtop.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.collections-bottom{
  height: 41px;
      width: 600px;
background-image: url(collections-bottomtop.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.collections-back{
  height: 300px;
width: 600px;
background-image: url(collections-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}


div.game{
position: absolute;
top: 0;
left: 0;
background-size: cover;
}

div.game-cover{
  height: 300px;
  width: 600px;
background-image: url(game-cover.jpg);
transform: translateX(-50%) translateY(-50%) translateZ(20px);
}
div.game-side{
  height: 300px;
      width: 41px;
      background-image: url(game-side.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(30px);
      left: 270px;
}

div.game-spine{
  height: 300px;
      width: 41px;
      background-image: url(game-spine.jpg);
      transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
      left: -170px;
}
div.game-top{
  height: 41px;
    width: 600px;
      background-image: url(game-top.jpg);
      transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
      top: 50px;
}
div.game-bottom{
  height: 41px;
      width: 600px;
background-image: url(game-bottom.jpg);
transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
    top: -50px;
}
div.game-back{
  height: 300px;
width: 600px;
background-image: url(game-back.jpg);
transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}
